#imprint-section
  height: 100%
  background-image: url("../assets/imprint/imprint_triangle_background.svg")
  background-repeat: no-repeat
  background-position: 0 0


#dhbw_logo
  float: right
  padding-bottom: 2vh
  height: 10vh
  width: auto

.imprint_headline
  padding-top: 10vh
  h1
    color: $medium-main-color
    font-weight: 700
    font-size: 4.5vw
    text-transform: uppercase
    text-align: right


.imprint_text
  margin: 15vh 0 0 0
  h2
    color: $dark-main-color
    font-size: 2.5vw
    font-weight: 600
    text-transform: uppercase
  p
    padding-top: 1vh
    line-height: 150%

#quelle
  padding-top: 4vh





