#imprint-section
  height: 100%
  background-image: url("../assets/imprint/imprint_triangle_background.svg")
  background-repeat: no-repeat
  background-position: 0 40px

/*! Abstände, Schriftgrößen noch an späteres Design bzw. Abstände vom Rand anpassen gerade im Bezug auf die Navi */

#dhbw_logo
  height: 20vh
  width: auto
  margin: 70px 0 0 20px

.imprint_text
  margin: 50px 0 0
  h1
    color: #155872
    font-weight: 700
    font-size: 6em
    text-transform: uppercase
  h2
    color: #155872
    font-size: 4em
    font-weight: normal
    text-transform: uppercase
  p
    font-size: 2em
    padding-top: 1em



