.personalities-container
  padding: 0 20px
  width: 100%
  text-align: center

  #svg-laptop-close
    height: 40px
    float: right

  #svg-personalities-all
    height: 70vh

  #svg-laptop, #laptop-content
    position: absolute
    margin-left: auto
    margin-right: auto
    left: 0
    right: 0
    transition: width 1s, height 1s, top 1s
    transition-timing-function: ease-out
    height: 16vh
    top: 52vh
    &.hidden
      display: none
    &.bigger
      height: 80vh
      top: 80px

  #laptop-content
    text-align: left
    padding: 30px 30px 0 30px

    #skillset
      overflow-y: hidden
      height: 40vh
      background: linear-gradient(#312f30, #312f30 70%) 0 100%, radial-gradient(40% 0, #b0b5b3, rgba(49, 47, 48, 0.2), rgba(0,0,0,0)),radial-gradient(40% 40%,#C0B9BB,#747071 , #312f30) 0 100%
      background-repeat: no-repeat
      background-size: 100% 40px, 100% 40px, 100% 14px, 100% 14px
      background-attachment: local, local, scroll, scroll
      &:hover
        overflow-y: auto

    li
      list-style-type: none
      color: #919191
      &:before
        content: '✓   '

  #pieChart
    width: 40vh !important
    height: 40vh !important

  .single-personality
    z-index: 1000
    position: absolute
    left: 25%
    bottom: 0
    height: 30vh


