#start-section
  height: 100%
  background-image: url("../assets/start/start_triangle_background.svg")
  background-repeat: no-repeat
  background-position: 0 40px

.start_bild_headline
  position: absolute
  top: 0
  left: 0
  z-index: 2

.start_titelbild
  position: inherit
  top: -10vh
  height: 110vh
  width: auto
  overflow: hidden

/*! Abstände, Schriftgrößen noch an späteres Design bzw. Abstände vom Rand anpassen gerade im Bezug auf die Navi */

.start_text_column
  text-align: left
  padding: 90px 20px 0 110px
  h1
    color: #155872
    font-weight: 700
    font-size: 70px
    text-transform: uppercase
  h2
    color: #155872
    font-size: 50px
    font-weight: normal
    text-transform: uppercase
    line-height: 2





