#start-section
  height: 100%
  background-image: url("../assets/start/start_triangle_background.svg")
  background-repeat: no-repeat
  background-position: 0 40px

.start_bild_headline
  position: absolute
  top: 0
  left: 0
  z-index: 2

.start_titelbild
  position: inherit
  top: -10vh
  left: -10vh
  height: 110vh
  width: auto
  overflow: hidden

/*! Abstände, Schriftgrößen noch an späteres Design bzw. Abstände vom Rand anpassen gerade im Bezug auf die Navi */

.start_text_column
  text-align: left
  padding-top: 10vh
  padding-right: 20px
  padding-left: 10vh
  h2
    color: #155872
    font-weight: 500
    font-size: 4em
    text-transform: uppercase
  h1
    color: #155872
    font-weight: 700
    font-size: 6em
    text-transform: uppercase


.typingTest
  text-align: left
  line-height: 2em
  font-weight: 500


.typewrite
  position: absolute
  top: 57vh
  font-size: 1.3em
  span
    color: #f2a68c !important











