#start-section
  height: 100%
  background-image: url("../assets/start/start_triangle_background.svg")
  background-repeat: no-repeat
  background-position: 0 40px


.start_titelbild
  position: absolute
  top: -10vh
  left: -10vh
  height: 110vh
  width: auto
  overflow: hidden


.start_text_column
  text-align: left
  padding-top: 8vh
  padding-left: 45vw
  z-index: 500
  h2
    color: #155872
    font-weight: 500

  h1
    color: #155872
    font-weight: 700
    font-size: 4vw
    text-transform: uppercase

.typingTest
  text-align: left
  line-height: 2em


.typewrite
  color: #0AAFAD !important
  font-weight: 500 !important
  font-size: 3vw
  text-transform: none
/*!border-right: .05em solid
 animation: caret 1s steps(1) infinite*/



#typing1
  position: absolute
  top: 48vh

#typing2
  position: absolute
  top: 58vh

#typing3
  position: absolute
  top: 68vh

/*! @keyframes caret
    50%
    border-color: transparent */








