#svg-stresslevel-woman, #svg-stresslevel-man
  height: 35vh

.legend-list
  list-style: none
  li
    display: inline
    margin: 0 20px
    .light
      color: #15BED1
    .medium
      color: #1597B2
    .heavy
      color: #155872

  .legend-list_square
    font-size: 20px


