#svg-stresslevel-woman, #svg-stresslevel-man
  height: 35vh

.legend-list
  list-style: none
  li
    display: inline
    margin: 0 20px
    .light
      color: $light-blue
    .medium
      color: $medium-blue
    .heavy
      color: $dark-blue

  .legend-list_square
    font-size: 20px


