#line-chart-container
  height: 70vh !important
  width: 70vw !important

#workexperience-diversion
  width: 40vw
  position: absolute
  top: 70px
  right: 0

.workexperience
  padding-left: 30px

#donut-chart-man, #donut-chart-woman
  max-height: 10vh !important
  max-width: 10vh !important
  margin: auto
  margin-top: 20px