{% extends "layouts/default.html" %}
{% set title = "DATASCIENCE" %}

{% block content %}
    <div id="fullpage">
        <div class="section">
            {% include "sections/start.html" %}
        </div>
        <div class="section">
            {% include "sections/facts.html" %}
        </div>
        <div class="section">
            {% include "sections/personalities.html" %}
        </div>
        <div class="section">
            {% include "sections/workExperience.html" %}
        </div>
        <div class="section">
            {% include "sections/stress.html" %}
        </div>
        <div class="section">
            {% include "sections/ending.html" %}
        </div>
        <div class="section">
            {% include "sections/imprint.html" %}
        </div>
    </div>
{% endblock %}