{% extends "layouts/default.html" %}
{% set title = "My static OnePager" %}

{% block content %}

<div class="section">
    <h1>Start</h1>
    <div id="chart_div" style="background: transparent"></div>
    <canvas id="myChart"></canvas>
    <div class="jumbotron">
        asdf
    </div>
    <div class="jumbotron">
        asdf
    </div>
    <div class="jumbotron">
        asdf
    </div>
    <div class="jumbotron">
        asdf
    </div>
</div>
<div class="section">
    <h1>Faktön</h1>
</div>
<div class="section">
    <h1>Persönlichkeitstypen</h1>
</div>
<div class="section">
    <h1>Berufserfahrung</h1>
</div>
<div class="section">
    <h1>Stress</h1>
</div>
<div class="section">
    <h1>Ende</h1>
</div>
<div class="section">
    <h1>Impressum</h1>
</div>

{% endblock %}