{% extends "../layouts/slide-with-heading.html" %}
{% set headline = "DIE Studie" %}
{% set subheadline = "Woher stammen die Daten?" %}


{% block content %}
<ul class="with-bullets">
    <li>psychometrische Online-Befragung</li>
    <li>Aufteilung der Probanden in verschiedene Persönlichkeitstypen</li>
    <li>auf Basis des DISC-Persönlichkeitsmodell</li>
</ul>
<div class="row">
    <div class="col-md-10 offset-md-1">
        <object id="svg-datas" type="image/svg+xml" data="assets/svg/facts/data.svg"></object>
    </div>
</div>
{% endblock %}


