{% extends "../layouts/slide-with-heading.html" %}
{% set headline = "DATA SCIENCE" %}
{% set subheadline = "um was handelt es sich dabei?" %}


{% block content %}
<div class="row">
    <div class="col-md-12">
        <p>Das „Internet der Dinge“ wächst rasant und mit jeder neuen Datenquelle wachsen auch die Möglichkeiten und Chancen, Daten im Interesse des
            eigenen Geschäftsmodells zu analysieren und zu nutzen.</p>
    </div>
</div>
<div class="row">
    <div class="col-md-12 text-center">
        <img id="facts-image" src="assets/svg/facts/Ebene 2.svg"/>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <p>Die Zahl der Unternehmen, die den Wert von Big Data für sich erschließen wollen, steigt rapide an. Data Science spielt dabei eine Schlüsselrolle.
            Und das ist erst der Anfang: Angesichts immer preiswerterer und leistungsfähigerer Werkzeuge zur Analyse riesiger Datenmengen wird der
            Stellenwert von Data Science zweifellos weiterhin steil ansteigen.</p>
    </div>
</div>
{% endblock %}


