{% extends "../layouts/slide-with-heading.html" %}
{% set headline = "DIE DISC-METHODE FÜR PERSÖNLICHKEITSPROFILE" %}
{% set subheadline = "WAS IST DAS FÜR EINE METHODE?" %}


{% block content %}
<div class="row">
    <div class="col-md-5 vcenter">
        <div>
            <p>Bei der DISC-Methode handelt es sich um einen
                Persönlichkeitstest. Die Basis bildet die Annahme von
                vier grundlegende Verhaltenstendenzen.</p>
            <p>Je nach Situation neigen Menschen dazu, eher
                dominant (D), initiativ (I), stetig (S) oder gewissenhaft
                (C) zu reagieren. Mittels dieser Einteilung ist es möglich
                <b>Persönlichkeitstypen</b> zu identifiziert. Häufig wird
                die Methode genutzt um das Arbeiten in Teams zu
                analysieren und zu verbessern.</p>
        </div>
    </div>
    <div class="col-md-7">
        <img id="facts-disc" src="assets/svg/facts/disc.svg"/>
    </div>
</div>
{% endblock %}


