{% extends "../layouts/section-with-heading.html" %}
{% set headline = "DAS DATA SCIENTIST TEAM" %}
{% set subheadline = "DEN PERFEKTEN DATA SCIENTIST GIBT ES NICHT!" %}


{% block content %}
<p>Für Unternehmen ist es schwierig, genau diesen Mix an Talenten in einer einzigen Person zu finden – insbesondere angesichts der Tatsache, dass die Mehrzahl
    der Data Scientists bislang nur wenige Jahre an Erfahrung aufweisen kann. Daher ist es wichtig Teams zu bilden, die als Gesamtheit alle Anforderungen des
    Unternehmens erfüllen.</p>
<div class="text-center">
    <img id="fazit-image" src="assets/svg/fazit/fazit.svg"/>
</div>

{% endblock %}


