{% extends "../layouts/section-without-heading.html" %}
{% set sectionId = "imprint-section" %}

{% block content %}
<div class="row">
    <div class="col-md-12 imprint_headline">
        <h1 id="imprint_typing">Impressum</h1>
    </div>
</div>
<div class="row">
    <div class="col-md-12 imprint_text">
        <h2>
            Semesterarbeit im Kurs Webdesign 3<br>
            Multimediales Informationsdesign
        </h2>
        <p>Dozent: Dipl.-Des. Lothar B. Blum<br>
           Beteiligte Studenten: Anika Düsterhöft, Linda Jansen, Larissa Koch, Pascal Negwer<br>
           Datum der Abgabe: 26.01.2018<br>
           DHBW Campus Mosbach, Fachbereich Online Medien</p>
        <p id="quelle">Diese Webseite basiert auf folgender Quelle:<br>
           "Der Data Scientist: Typen, Talente, Trends oder was einen guten Data Scientist ausmacht!".<br>
           Eine Studie der SAS Institute Inc. von 2015.</p>
        <img id="dhbw_logo" src="assets/imprint/logo_dhbw.png" alt="DHBW Logo">
    </div>
</div>




{% endblock %}