{% extends "../layouts/section-without-heading.html" %}
{% set sectionId = "imprint-section" %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-3 offset-md-9 text-center">
            <img id="dhbw_logo" src="assets/imprint/logo_dhbw.png" alt="DHBW Logo">
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6 imprint_text">
        <h1>Data Scientist<br>unsere Headline</h1>
        <h2>Subheadline blu bla?</h2>
        <p>Semesterarbeit im Kurs Webdesign 3 - Multimediales Informationsdesign<br>
           Dozent: Dipl.-Des. Lothar B. Blum<br>
           Beteiligte Studenten: Anika Düsterhöft, Linda Jansen, Larissa Koch, Pascal Negwer</p>
        <p>DHBW Campus Mosbach, Fachbereich Online Medien</p>
        <p>Datum der Abgabe: 26.01.2018</p>
    </div>
</div>

{% endblock %}