{% extends "../layouts/section-with-heading.html" %}
{% set headline = "PERSÖNLICHKEITSTYPEN" %}
{% set subheadline = "WELCHE EIGENSCHAFTEN SIND FÜR DATA SCIENTISTS CHARAKTERISTISCH?" %}
{% set sectionId = "personalities-section-header" %}


{% block content %}
<div class="personalities-container">
    <object id="svg-personalities-all" type="image/svg+xml" data="assets/svg/personalities/allPersonalities.svg"></object>
    <object id="svg-laptop" class="" type="image/svg+xml" data="assets/svg/personalities/laptop.svg"></object>
    <div id="laptop-content" class="">

    </div>
</div>

{% endblock %}
