{% extends "../layouts/section-without-heading.html" %}
{% set sectionId = "start-section" %}


{% block content %}
<div class="start_bild_column">
    <img class="start_titelbild" src="assets\start\start_titelbild_gruen.svg">
</div>
<div class="start_text_column">
    <h1>Der Data Scientist<br>
        im Profil</h1>
    <h2 class="typewrite" id="typing1">Typen?</h2>
    <h2 class="typewrite" id="typing2">Persönlichkeit? Skills?</h2>
    <h2 class="typewrite" id="typing3">Berufserfahrung? Stress?</h2>
</div>


{% endblock %}
