{% extends "../layouts/section-without-heading.html" %}
{% set sectionId = "start-section" %}


{% block content %}
<div class="start_bild_column">
    <img class="start_titelbild" src="assets\start\titelbild.svg">
</div>
<div class="start_text_column">
    <h2>Big Data</h2>
    <h1>Der Data Scientist</h1>
    <h2 class="typingTest">
        <p class="typewrite" data-period="2000" data-type='[ "Berufsprofil?", "Skills?", "Persönlichkeitstypen?", "Stresslevel?" ]'>
            <span class="wrap"></span>
        </p>
    </h2>
</div>


{% endblock %}
