{% extends "../layouts/section-with-heading.html" %}
{% set headline = "STRESS IM BERUF" %}
{% set subheadline = "WIE STRESSIG FINDEN DATA SCIENTIST IHREN BERUF?" %}


{% block content %}
<div class="row">
    <div class="col-md-3 offset-md-3">
        <object id="svg-stresslevel-woman" type="image/svg+xml" data="assets/svg/stress/Stresslevel_Frau-01.svg"></object>
    </div>
    <div class="col-md-3 text-right">
        <object id="svg-stresslevel-man" type="image/svg+xml" data="assets/svg/stress/Stresslevel_Mann-01.svg"></object>
    </div>
    <div class="col-md-12 text-center">
        <ul class="legend-list">
            <li><span class="legend-list_square light">■ </span> nicht gestresst</li>
            <li><span class="legend-list_square medium">■ </span> etwas gestresst</li>
            <li><span class="legend-list_square heavy">■ </span> sehr gestresst</li>
        </ul>
    </div>
</div>
{% endblock %}
