{% extends "../layouts/section-with-heading.html" %}
{% set headline = "STRESS IM BERUF" %}
{% set subheadline = "WIE STRESSIG FINDEN DATA SCIENTIST IHREN BERUF?" %}


{% block content %}
<div class="row">
    <div class="col-md-3 offset-md-3">
        <object id="svg-stresslevel-woman" type="image/svg+xml" data="assets/svg/stress/Stresslevel_Frau-01.svg"></object>
    </div>
    <div class="col-md-3 text-right">
        <object id="svg-stresslevel-man" type="image/svg+xml" data="assets/svg/stress/Stresslevel_Mann-01.svg"></object>
    </div>
    <div class="col-md-12 text-center">
        <ul class="legend-list">
            <li><span class="legend-list_square heavy">■ </span> sehr gestresst</li>
            <li><span class="legend-list_square medium">■ </span> etwas gestresst</li>
            <li><span class="legend-list_square light">■ </span> nicht gestresst</li>
        </ul>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <h4>Ursachen:</h4>
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        <h5>Kommunikationsprobleme:</h5>
    </div>
    <div class="col-md-3">
        <h5>Mangelhaftes Rollenprofil:</h5>
    </div>
    <div class="col-md-3">
        <h5>VERANTWORTUNG OHNE
            ENTSCHEIDUNGSGEWALT:</h5>
    </div>
    <div class="col-md-3">
        <h5>MANGEL AN FÄHIGKEITEN:</h5>
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        <p>Probleme in der Kommunikation mit dem direkten Vorgesetzten</p>
    </div>
    <div class="col-md-3">
        <p>Offiziell oder inoffizell
            hinzugefügte Aktivitäten lassen
            kein objektives Maß für die
            Leistungsmessung zu</p>
    </div>
    <div class="col-md-3">
        <p>Keine direkte Kontrolle über
            erfolgsabhängige Faktoren bei
            der Aufgabenerledigung</p>
    </div>
    <div class="col-md-3">
        <p>Zu schwerer Job oder keine
            angemessene Ausbildung</p>
    </div>
</div>
{% endblock %}
