{% extends "../layouts/section-with-heading.html" %}
{% set headline = "EIN JUNGER BERUF - STETIG IM WANDEL" %}
{% set subheadline = "WIE VIEL BERUFSERFAHRUNG KÖNNEN DATA SCIENTISTS VON HEUTE VORZEIGEN?" %}


{% block content %}
<div class="row vcenter">
    <div class="col-md-1">
        <p style="font-size: 15px;" class="text-center"><b>Anteil aller befragten Personen</b></p>
    </div>
    <div class="col-md-11">
        <div id="line-chart-container">
            <canvas id="line-chart" width="400" height="400"></canvas>
        </div>
        <div id="workexperience-diversion">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h5>
                        Verteilung der Berufserfahrungen<br/>
                        innerhalb der Geschlechter
                    </h5>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <canvas id="donut-chart-woman" width="70" height="70"></canvas>
                </div>
                <div class="col-md-6">
                    <canvas id="donut-chart-man" width="70" height="70"></canvas>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <p class="text-center">
                        <b><span id="woman-percentage">36</span> %</b><br/>
                        aller Frauen haben <br/>
                        <b><span class="workexperience-years">bis zu einem Jahr</span></b><br/>
                        Berufserfahrung
                    </p>
                </div>
                <div class="col-md-6">
                    <p class="text-center">
                        <b><span id="male-percentage">41</span> %</b><br/>
                        aller Männer haben <br/>
                        <b><span class="workexperience-years">bis zu einem Jahr</span></b><br/>
                        Berufserfahrung
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}


