nav.navbar
  background-color: $dark-main-color
  color: $light-grey
  position: fixed
  z-index: 100
  width: 100%
  height: 40px //Linda: eingefügt um paddingTop im fullpage.js genau bestimmen zu können. Erst so folgt der Inhalt nahtlos auf die Navi ohne Rand. War für das Dreieck im Hintergrund der Start.html wichtig


.nav-link
  font-weight: 300 !important
  color: inherit !important

.nav-link-brand
  font-weight: 700 !important
  color: inherit !important

.nav-link:focus
  color: inherit !important
  outline: none

.navbar-brand
  font-size: 22px !important

.nav-link
  font-size: 13px !important

li.nav-item
  color: $light-grey
  margin-left: 20px
  margin-right: 20px

li.nav-item.active > .nav-link
  color: $medium-main-color !important
  font-weight: 700 !important