@import url('https://fonts.googleapis.com/css?family=Quicksand:400,700')
body
  font-family: 'Quicksand', sans-serif;
  background-color: #6e6e6e

.custom-container
  padding: 0 5%
  width: 100%

hr
  background: transparent url('../assets/diff/hr05.png') repeat-x 0 0
  height: 4px
  margin-bottom: 40px

h1, h2, h3, h4, h5
  color: $orange
  text-transform: uppercase

h2
  font-weight: 700

h5, h6, p, li
  color: #eeeeeb

.vcenter
  display: flex
  align-items: center


