@import url('https://fonts.googleapis.com/css?family=Quicksand')
body
  font-family: 'Quicksand'
  background-color: #6e6e6e

.custom-container
  padding: 0 5%
  width: 100%
canvas
  height: 400px !important
  width: 400px !important
